[class^="icon-"]::before,
[class*=" icon-"]::before {
  line-height: 2em;
}

html, body {
  height: 100%;
  font-size: 13px;
}
body {
  margin: 0;
  display: flex;
  flex-direction: row;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
}
input {
  font-family: "fontello";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
iframe {
  flex: 1;
  border: none;
}

#toolbar {
  background-color: #fbfbfb;
  border-right: solid 1px #b5b5b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
body[data-loaded=true] #toolbar {
  transition: color 0.4s, background-color 0.4s;
}
body[data-mode=dark] #toolbar {
  background-color: rgb(81, 81, 81);
}
body[data-mode=sepia] #toolbar {
  background-color: rgb(250, 248, 239);
}
#toolbar {
  user-select: none;
}
#toolbar .active:not([data-cmd="full-width"]):not([data-cmd="no-height"]) {
  opacity: 0.5;
  transition: opacity .25s ease-in-out;
}
#toolbar>span {
  display: block;
  font-size: 25px;
  text-align: center;
  width: 40px;
  height: 50px;
  line-height: 50px;
  border-bottom: solid 1px #b5b5b5;
  color: #737373;
  cursor: pointer;
}
body[data-mode=dark] #toolbar>span {
  color: rgb(238, 238, 238);
}
#image-utils,
#font-utils {
  position: absolute;
  left: 60px;
  width: 100px;
  border-radius: 4px;
  box-shadow: 0 1px 12px #666;
  min-width: 300px;
  background-color: #fbfbfb;
  display: none;
  outline: none;
}
#font-utils {
  top: 50px;
}
#image-utils {
  top: 300px;
}
#image-utils[data-display=true],
#font-utils[data-display=true] {
  display: block;
}
#image-utils table,
#font-utils table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
#image-utils tr,
#font-utils tr {
  height: 60px;
  color: #333333;
  font-size: 20px;
  border: 1px solid #B5B5B5;
}
#image-utils td,
#font-utils td {
  cursor: pointer;
}
#font-utils tr:first-child td:first-child{
  height: 100px;
  font-family: Helvetica, Arial, sans-serif;
}
#font-utils tr:first-child td:last-child {
  font-family: Georgia, "Times New Roman", serif;
}
#image-utils tr:first-child span,
#font-utils tr:first-child span {
  display: block;
}
#font-utils tr:first-child span:first-child {
  font-size: 62px;
}
#font-utils tr:first-child span:last-child {
  margin-top: -4px;
  color: #666;
  font-size: 12px;
}
#font-utils tr:last-child td div {
  display: flex;
  font-size: 14px;
}
#font-utils tr:last-child td span {
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
#font-utils tr:last-child td span:nth-child(2) {
  color: #eeeeee;
  background-color: #333333;
}
#font-utils tr:last-child td span:nth-child(3) {
  color: #5b4636;
  background-color: #f4ecd8;
}
#image-utils tr:last-child td {
  font-size: 14px;
}

#toolbar [data-id="no-height"] input,
#toolbar [data-id="full-width"] input {
  cursor: pointer;
}
#toolbar [data-id="no-height"] input,
#toolbar [data-id="full-width"] input {
  display: none;
}
#toolbar [data-id="no-height"] label,
#toolbar [data-id="full-width"] label {
  pointer-events: none;
  font-size: 14px;
}
#toolbar [data-id="no-height"] input:checked ~ label,
#toolbar [data-id="full-width"] input:checked ~ label {
  background-color: rgba(0,0,0, 0.1);
  padding: 2px 10px;
}
#toolbar [data-cmd="width-increase"]::before {
  content: '\e806|\e807';
  display: inline;
}
#toolbar [data-cmd="width-decrease"]::before {
  content: '\e807|\e806';
  display: inline;
}

#toolbar>div:after,
#toolbar>div:before {
  right: calc(100% - 1px);
  top: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#toolbar>div:after {
  border-color: rgba(251, 251, 251, 0);
  border-right-color: #fbfbfb;
  border-width: 10px;
  margin-top: -10px;
}
#toolbar>div:before {
  border-color: rgba(181, 181, 181, 0);
  border-right-color: #B5B5B5;
  border-width: 11px;
  margin-top: -11px;
}
.strech {
  display: flex;
}
.strech>* {
  flex: 1;
}

.selected {
  box-shadow: inset 0 -3px 0 0 #fc6420;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#tips {
  display: flex;
  align-items: center;
  justify-content: center;
}
body:not([data-tips=true]) #tips {
  display: none;
}
#tips>div {
  position: relative;
  width: 80%;
  background-color: #fdeeb7;
  border: solid 1px #e9cc5f;
  color: #a87109;
  margin: 10px;
  padding: 10px;
}
#tips input {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 110%;
  cursor: pointer;
  outline: none;
  color: #a87109;
}

#speech {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  padding: 10px;
  user-select: none;
}
#speech>div {
  display: flex;
  align-items: center;
}
body[data-speech=true] [data-cmd=open-speech] {
  display: none !important;
}
body[data-speech=false] #speech {
  display: none;
}
#speech [data-cmd] {
  font-size: 32px;
  cursor: pointer;
  color: #737373;
  position: relative;
}
#speech [data-cmd=close-speech] {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 14px;
}
#speech [data-cmd]:hover {
  color: #000;
}
#speech [data-cmd]:active {
  opacity: 0.1;
}

#navigate {
  position: absolute;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
}
#navigate input {
  font-family: 'fontello';
  border: none;
  background: transparent;
  font-size: 32px;
  outline: 0;
  color: #737373;
  transition: opacity .5s ease;
  cursor: pointer;
}
#navigate input:active {
  opacity: 0.5;
}
#navigate input:disabled {
  opacity: 0.3;
}
