:root {
  --bg: light-dark(whitesmoke, #333);
  --fg: light-dark(#222, #eee);
  --bd: light-dark(#c0c0c0, #7d7d7d);
  --hd: light-dark(#dcdcdc, #262626);
  --lk: light-dark(#0075fe, #98c8fe);

  color-scheme: light dark;
}

body {
  font-size: 14px;
  background-color: var(--bg);
  color: var(--fg);
  width: min(100% - 2rem, 70rem);
  margin-inline: auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button,
input[type=submit],
input[type=button] {
  height: 28px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
  border: solid 1px var(--bd);
  padding: 0 5px;
  font-size: inherit;
}
input[type=number],
input[type=text],
textarea {
  border: solid 1px var(--bd);
  padding: 2px 5px;
  color: var(--fg);
}
input[type=button]:disabled {
  opacity: 0.5;
}
select {
  border-radius: 0;
  border: solid 1px var(--bd);
}
table {
  border-collapse: collapse;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
  padding: 5px;
}
h3 {
  background-color: var(--hd);
  padding: 10px;
  margin: 10px 0;
  font-size: 100%;
  font-weight: normal;
}
th {
  text-align: left;
  font-weight: 500;
  padding: 5px;
  background-color: var(--hd);
  white-space: nowrap;
}
input[type=number] {
  width: 100%;
  box-sizing: border-box;
}
textarea:disabled {
  opacity: 0.5;
}
a,
a:visited {
  color: var(--lk);
  text-decoration: none;
}
.box-1 {
  display: grid;
  align-items: center;
  grid-template-columns: 24px 1fr;
  grid-gap: 5px;
}
.box-2 {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr minmax(min-content, 100px);
  grid-gap: 5px;
}
.box-3 {
  display: grid;
  grid-gap: 10px;
  white-space: nowrap;
  grid-template-columns: min-content 1fr;
  align-items: center;
}
#shortcuts {
  display: grid;
  grid-template-columns: min-content 24px 24px 100px;
  align-items: center;
  white-space: nowrap;
  grid-gap: 5px;
}
#shortcuts > div {
  display: contents;
}

.note {
  background-color: #fff6d6;
  color: #1b2d5b;
  text-align: center;
  padding: 10px;
}

.lst {
  justify-self: end;
  white-space: nowrap;

  a:not(.hidden) + a::before {
    content: " | ";
  }
}

.hidden {
  display: none;
}

@supports (-webkit-hyphens: none) and (not (-moz-appearance: none)) {
  #support {
    display: none;
  }
}
